Makefile
Makefile.in
aclocal.m4
aprsdigi.spec
autom4te.cache/
config.log
config.status
configure
*.o
*.a
*~
.deps/
.vagrant/
missing
*.rpm
*.gz
aprsdigi
*.html
aprsmon
compile
fiforead
fifowrite
mic_e_test
testmcast
testparse
